# Enable LED fade command
[led_interpolate]

[gcode_macro SET_LCD]
description: Set display colors
gcode:
    {% set user = printer["gcode_macro USER_VARIABLES"] %}
    {% set color_screen = params.COLOR|default(user.hw.default_color|join(","))|string %}

    # Split the params into individual colors
    {% set color_values = color_screen.split(",") %}

    {% set color = { "red" : color_values[0]|int / 255,
                     "green" : color_values[1]|int / 255,
                     "blue" : color_values[2]|int / 255} %}

    # Chain: Index 1 = knob left, Index 2 = display, Index 3 = knob right
    # If setting all LEDs to the same color, don't set INDEX and the command
    # will set the entire chain.
    SET_LED LED=btt_mini12864 RED={color.red} GREEN={color.green} BLUE={color.blue}

[gcode_macro SET_CASE]
description: Set case lights colors and brightness
gcode:
    {% set user = printer["gcode_macro USER_VARIABLES"] %}
    {% set color = params.COLOR|default(user.hw.default_color|join(","))|string %}

    # Split the params into individual colors
    {% set color = color.split(",") %}

    {% set values = {"red" : (color[0]|int / 255),
                     "green" : color[1]|int / 255,
                     "blue" : color[2]|int / 255} %}

    SET_LED LED=case_lights RED={values.red} GREEN={values.green} BLUE={values.blue}
    
[gcode_macro CASELIGHTS]
description: Change case lights state.
variable_value: 0
gcode:
    {% set state = params.STATE|string|upper %}

    {% if state == 'ON' %}
        SET_CASE COLOR=255,255,255
        SET_GCODE_VARIABLE MACRO=CASELIGHTS VARIABLE=value VALUE=1
    {% elif state == 'OFF' %}
        SET_CASE COLOR=0,0,0
        SET_GCODE_VARIABLE MACRO=CASELIGHTS VARIABLE=value VALUE=0
    {% elif state == 'DIM' %}
        {% set vars = printer.save_variables.variables %}
        {% set user = printer["gcode_macro USER_VARIABLES"] %}
        {% if "caselights_ambient" in vars and vars.caselights_ambient|length != 0 %}
            {% set color = vars.caselights_ambient %}
        {% else %}
            {% set color = user.hw.default_color %}
        {% endif %}
        # Dim color is 20% brightness of the default color
        {% set color = [(color[0] * 0.2) / 255, (color[1] * 0.2) / 255, (color[2] * 0.2) / 255] %}

        LED_INTERPOLATE LED=case_lights RED={color[0]} GREEN={color[1]} BLUE={color[2]} FACTOR=0.15
        SET_GCODE_VARIABLE MACRO=CASELIGHTS VARIABLE=value VALUE=2
    {% else %}
        {action_respond_info('Unknown case light state %s' % state)}
    {% endif %}

[delayed_gcode CASELIGHT_DELAYED]
gcode:
    {% set user_vars = printer["gcode_macro USER_VARIABLES"] %}
    CASELIGHTS STATE={user_vars.hw.case_light_states[printer["gcode_macro CASELIGHTS_SHOW"].prev_state]}

[gcode_macro CASELIGHTS_SHOW]
description: Turn the case lights on for a short period of time
variable_timeout: 30
variable_default_timeout: 30
variable_prev_state: -1
gcode:
    {% set timeout = params.TIMEOUT|default(0)|int %}

    {% if timeout == 0 %}
        {% set timeout = printer["gcode_macro CASELIGHTS_SHOW"].timeout %}
    {% endif %}

    # Record the current state of the case lights.
    # This is needed in the [delayed_gcode CASELIGHT_DELAYED] in order
    # to restore the light to their previous state.
    SET_GCODE_VARIABLE MACRO=CASELIGHTS_SHOW VARIABLE=prev_state VALUE={printer["gcode_macro CASELIGHTS"].value}

    # Turn the case lights and schedule the delayed gcode.
    CASELIGHTS STATE='ON'
    UPDATE_DELAYED_GCODE ID=CASELIGHT_DELAYED DURATION={timeout}

    # Restore the default timeout.
    SET_GCODE_VARIABLE MACRO=CASELIGHTS_SHOW VARIABLE=timeout VALUE={printer["gcode_macro CASELIGHTS_SHOW"].default_timeout}

[menu __main __lights]
type: list
enable: {"neopixel case_lights" in printer}
name: Lighting
index: 8

[menu __main __lights __control]
type: input
name: Lights: {printer["gcode_macro USER_VARIABLES"].hw.case_light_states[menu.input|int]}
input: {printer["gcode_macro CASELIGHTS"].value}
input_min: 0
input_max: {(printer["gcode_macro USER_VARIABLES"].hw.case_light_states|length) - 1}
input_step: 1
gcode:
    CASELIGHTS STATE={printer["gcode_macro USER_VARIABLES"].hw.case_light_states[menu.input]}

[menu __main __lights __show]
type: input
name: Show: {menu.input}s
input: {printer["gcode_macro CASELIGHTS_SHOW"].timeout}
input_min: 5
input_max: 900
gcode:
    SET_GCODE_VARIABLE MACRO=CASELIGHTS_SHOW VARIABLE=timeout VALUE={menu.input}
    CASELIGHTS_SHOW

[menu __main __lights __set]
type: list
name: Ambient color

[menu __main __lights __set __red]
type: input
name: Red: {"%.02f" % menu.input}
input: {printer["neopixel case_lights"].color_data[0][0]}
input_min: 0.0
input_max: 1.0
input_step: 0.01
realtime: True
gcode:
    {% set color = printer["neopixel case_lights"].color_data[0] %}
    SET_LED LED=case_lights RED={menu.input} GREEN={color[1]} BLUE={color[2]} WHITE={color[3]}

[menu __main __lights __set __green]
type: input
name: Green: {"%.02f" % menu.input}
input: {printer["neopixel case_lights"].color_data[0][1]}
input_min: 0.0
input_max: 1.0
input_step: 0.01
realtime: True
gcode:
    {% set color = printer["neopixel case_lights"].color_data[0] %}
    SET_LED LED=case_lights RED={color[0]} GREEN={menu.input} BLUE={color[2]} WHITE={color[3]}

[menu __main __lights __set __blue]
type: input
name: Blue: {"%.02f" % menu.input}
input: {printer["neopixel case_lights"].color_data[0][2]}
input_min: 0.0
input_max: 1.0
input_step: 0.01
realtime: True
gcode:
    {% set color = printer["neopixel case_lights"].color_data[0] %}
    SET_LED LED=case_lights RED={color[0]} GREEN={color[1]} BLUE={menu.input} WHITE={color[3]}

[menu __main __lights __set __save]
type: command
name: Save Color
gcode:
    {% set color = printer["neopixel case_lights"].color_data[0] %}
    SAVE_VARIABLE VARIABLE=caselights_ambient VALUE={"[%d,%d,%d,%d]" % (color[0]*255|int, color[1]*255|int, color[2]*255|int, color[3]*255|int)}