#####################################################################
#   Extruder
#####################################################################

#   Connected to MOTOR_6
#   Heater - HE0
#   Thermistor - T0
[extruder]
step_pin: toolhead: PA9
dir_pin: !toolhead: PA8
enable_pin: !toolhead: PA10
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.9057406   #Bondtech 5mm Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:17               #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: toolhead: PB1
sensor_type: MAX31865
sensor_pin: toolhead: PA4
spi_bus: spi1
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
control: pid
pid_kp: 20.354
pid_ki: 0.827
pid_kd: 125.176

##  E0 on MOTOR6
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: toolhead: PA13
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

[autotune_tmc extruder]
motor: omc-17hs08-1004s

[neopixel toolhead_leds]
pin: toolhead: PA3
chain_count: 3

[gcode_button toolhead_filament_sensor]
pin: toolhead: PC14
gcode:
